h1{
  text-align: center;
}

/* .button{
  width: 150px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
} */

/* #Percentage{
  width: 100%;
  padding: 10px 20px;
  margin-right: 840px;
  box-sizing: border-box;
  border: 3px solid #ccc;
} */

.Sample {
  width: 300px;
  height: 100px;
  margin: 0px;
  padding: 0px;
  border: 1px solid blue;
}

/* .div2 {
  width: 300px;
  height: 100px;
  padding: 50px;
  border: 1px solid red;
} */